<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />  
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css"/>
</head>
<body>
    <nav>
        <ul class="menu">
            <li>@Html.ActionLink("Главная", "Index", "Home")</li>
            <li>@Html.ActionLink("Твой IP", "E", "My")</li>
        </ul>
    </nav>
    @RenderBody()
    <footer>
        <span>Все права защищены. Влад Живула 2020.</span>
        @RenderSection("Footer", false)
    </footer>
</body>
</html>
